 {% extends 'AppBundle::layout_single.html.twig' %}
{% block title %}Database{% endblock %}

               {% block body %}
    <div id="content" class="dashboard padding-20">    
   <div class="panel panel-default ">
                        <div class="panel-body">
                            <b>Enregistrement des winers</b> 
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        
                            <!-- ------ -->
                            <div class="panel panel-default">
                                <div class="panel-heading panel-heading-transparent">
                                    <strong>FORM VALIDATION</strong>
                                </div>

                                <div class="panel-body">
                                        {% for flashMessage in app.session.flashbag.get('error') %}
                                        <div class="alert alert-danger margin-bottom-30"><!-- DANGER -->
                                        <strong>Erreur !</strong> 
                                                       {{ flashMessage }}
                                         </div>               
                                         {% endfor %}
                                   
                                        {% for flashMessage in app.session.flashbag.get('success') %}
                                        <div class="alert alert-success margin-bottom-30"><!-- DANGER -->
                                        <strong>OK !</strong> 
                                                       {{ flashMessage }}
                                         </div>               
                                         {% endfor %}
                                   
                                        {{ form_start(form,{'attr':{'class':'validateg','data-toastr-position':'top-right'}}) }}
                                         {{ form_errors(form) }}
                                            <fieldset>
                                                <!-- required [php action request] -->
                                                <input type="hidden" name="action" value="contact_send" />
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-sm-8">
                                                           {{ form_label(form.pointVente, "Choisir un point de vente") }}
                                                          {{ form_errors(form.pointVente) }}
                                                           {{ form_widget(form.pointVente,{'attr':{'class':'form-control pointer required'}}) }}
                                                        </div>
                                                         <div class="col-md-4 col-sm-4">
                                                           {{ form_label(form.date, "Saisir la date") }}
                                                          {{ form_errors(form.date) }}
                                          {{ form_widget(form.date,{'attr':{'class':'form-control datepicker required', 'data-format':'dd/mm/yyyy','data-lang':'fr','data-RTL':'false'}}) }}
                                                        </div>      
                                                    </div>
                                                </div>
                      
                                            </fieldset>
                                            <div >

  <div class="row">
      <div class="form-group">
        <div class="col-md-10">
          <label>
            Fichier joint 
            <small class="text-muted">Importer la iste des winers</small>
          </label>

          <!-- custom file upload -->
          {{ form_widget(form.file,{'attr':{'class':'custom-file-upload','data-btn-text':'Choisir un fichier'}}) }}
          <small class="text-muted block">Max file size: 10Mb (.xls/.xlsx)</small>

        </div>
      </div>
    </div>
                                            <div class="row">
                                                <div class="col-md-12 margin-top-30">
                                                    <button type="submit" class="btn btn-3d btn-success ">
                                                   ENREGISTRER DANS LA BASE
                                                        
                                                    </button>
                                                </div>
                                            </div>
                                    {{ form_widget(form._token) }}
                                      </form>

                                </div>

                            </div>
                            <!-- /----- -->

                        </div>



                    </div>


    </div>
  {% endblock %}
   {% block javascripts %}
    {{parent()}}
<script type="text/javascript">
$(document).ready(function() {

var $container = $('div#form_gagnants');

var $lienAjout = $('#ajout_categorie');
//$container.append($lienAjout);
// On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $lienAjout.click(function(e) {
     e.preventDefault(); 
    ajouterCategorie($container);
   // évite qu'un # apparaisse dans l'URL
  return false;
});
// On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
var index = $container.find(':input').length;
// On ajoute un premier champ directement s'il n'en existe pas déjà un (cas d'un nouvel article par exemple).
if (index == 0) {
  ajouterCategorie($container);
} else {
// Pour chaque catégorie déjà existante, on ajoute un lien de suppression

$container.children('div').each(function() {
   ajouterLienSuppression($(this));
});
} 

// La fonction qui ajoute un formulaire Categorie

function ajouterCategorie($container) {
// Dans le contenu de l'attribut « data-prototype », onremplace :
// - le texte "__name__label__" qu'il contient par le label du champ
// - le texte "__name__" qu'il contient par le numéro du champ
var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Gagnant n°' + (index+1)).replace(/__name__/g, index));
// On ajoute au prototype un lien pour pouvoir supprimer la catégorie
ajouterLienSuppression($prototype);
// On ajoute le prototype modifié à la fin de la balise <div>
$container.append($prototype);
// Enfin, on incrémente le compteur pour que le prochain ajou se fasse avec un autre numéro
index++;
} 

// La fonction qui ajoute un lien de suppression d'une catégori
function ajouterLienSuppression($prototype) {
// Création du lien
$lienSuppression = $('<div class="col-md-3"><label></label><br><a href="#" class="btn btn-danger">Supprimer la ligne</a></div>');
// Ajout du lien
$prototype.append($lienSuppression);
// Ajout du listener sur le clic du lien
$lienSuppression.click(function(e) {
  $prototype.remove();
  e.preventDefault(); // évite qu'un # apparaisse dans l'URL
return false;
});
}
});
</script>    
 {% endblock %}