<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}Sminoff {% endblock %}</title>       
        <meta name="description" content="" />
        <meta name="Author" content="PENKA WILLIAMS MAGLOIRE" />
        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
        <!-- WEB FONTS -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />
         {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}" type="text/css"  />
        <link rel="stylesheet" href="{{ asset('assets/css/essentials.css') }}"  type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/layout.css') }}" type="text/css"  />
        <link rel="stylesheet" href="{{ asset('assets/css/color_scheme/green.css') }}"  type="text/css"  id="color_scheme" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/layout-datatable.css') }}"  />
        {% endblock %}
    </head>

        {% block fos_user_content %}
        <!-- WRAPPER -->
        <div id="wrapper">
            <aside id="aside">

                <nav id="sideNav"><!-- MAIN MENU -->
                    <ul class="nav nav-list"> 
                           <li><!-- dashboard -->
                            <a class="dashboard" href="{{ path('gagnant_new') }}"><!-- warning - url used by default by ajax (if eneabled) -->
                                <i class="main-icon fa fa-edit"></i><span>Saisie des winers</span>
                            </a>
                        </li>                    
                         <li><!-- dashboard -->
                            <a class="dashboard" href="{{ path('rh_index') }}"><!-- warning - url used by default by ajax (if eneabled) -->
                                <i class="main-icon fa fa-list"></i><span>Gestion des BA</span>
                            </a>
                        </li>   
                                        
                    </ul>
                </nav>
                <span id="asidebg"><!-- aside fixed background --></span>
            </aside>

            <header id="header">
                <!-- Mobile Button -->
                <button id="mobileMenuBtn"></button>
                <span class="logo pull-left">
                    <img src="assets/images/logo_light.png" alt="AllReport" height="35">
                </span>
                <nav>
                    <!-- OPTIONS LIST -->
                    <ul class="nav pull-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <!-- USER OPTIONS -->
                        <li class="dropdown pull-left">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img class="user-avatar" alt="" src="{{ asset('assets/images/noavatar.jpg') }}" height="34" /> 
                                <span class="user-name">
                                    <span class="hidden-xs">
                                        {{  app.user.username }}<i class="fa fa-angle-down"></i>
                                    </span>
                                </span>
                            </a>
                            <ul class="dropdown-menu hold-on-click">
                                <li><!-- settings -->
                                    <a href="#"><i class="fa fa-cogs"></i> Paramètres</a>
                                </li>

                                <li class="divider"></li>
                                  
                                <li><!-- logout -->
                                    <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i>Deconnexion</a>
                                </li>
                                 
                            </ul>
                        </li>
                        <!-- /USER OPTIONS -->
                 {% endif %}
                    </ul>
                    <!-- /OPTIONS LIST -->

                </nav>

            </header>
            <!-- /HEADER -->


            <!-- 
                MIDDLE 
            -->
            <section id="middle">
               {% block body %}


              {% endblock %}


            </section>
            <!-- /MIDDLE -->

        </div>
    
        {% endblock fos_user_content %}

       {% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>
     
       {% endblock %}

    </body>
</html>