{% extends 'AppBundle::layout.html.twig' %}
{% block title %}{{ pointVente.nom }} {% endblock %}
 {% set total= marques|somme('bnreblle')%}
{% block body %}
<div id="content" class="dashboard padding-20">
<div class="panel panel-default ">
                        <div class="panel-body">
                            <b>{{ pointVente.nom }}</b> - {{ pointVente.type }}<br>
                            {{ pointVente.description }}
                        </div>
                    </div>
     <div class="row">  
          <div class="col-md-12">
                  <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Evolution des ventes de Sminoff Ice</strong> : Vente en bouteilles
                                    </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->
                                </div>
                                <!-- panel content -->
                                <div class="panel-body">    
                         <canvas class="chartjs fullwidth height-450" id="barChartCanvas" ></canvas>

                                </div>
                                <!-- /panel content -->
                            </div>
                            <!-- /PANEL -->         
         </div>   
               <div class="col-md-7">
                    <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Détails du point de vente</strong>
                                    </span>
                            <!-- right options -->
                          <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                          </ul>
                            <!-- /right options -->
                                </div>
                                <!-- panel content -->
                    <div class="panel-body">  
                        <div class="table-responsive">
                            <table class="table-vertical-middle">
                       <tbody>
                  <tr>
                <th>Nom du point de vente </th>
                <td>{{ pointVente.nom }}</td>
            </tr>
            <tr>
                <th>Nom du gérant</th>
                <td>{{ pointVente.nomGerant }}</td>
            </tr>
            <tr>
                <th>Telelephone fixe</th>
                <td>{{ pointVente.tel }}</td>
            </tr>
            <tr>
                <th>Adresse du point de vente</th>
                <td>{{ pointVente.adresse }}</td>
            </tr>
            <tr>
                <th>Quartier</th>
                <td>{{ pointVente.quartier }}</td>
            </tr>

            </tbody>
            </table>
 <div class="height-250" id="map"></div>
            </div>
          </div>
               <!-- /panel content -->
        </div>
               <!-- /PANEL -->       
       </div>
        <div class="col-md-5">
       {% include 'analyse/parts/presence.html.twig' %}      
          </div>  
</div>
  <div class="row">
          <div class="col-md-6">
 {% include 'analyse/parts/shares.html.twig' %} 
        </div> 
         <div class="col-md-6">
 {% include 'analyse/parts/graph.html.twig' %} 
        </div>
      </div>       
    <div class="row">      
          <div class="col-md-6">
 {% include 'analyse/parts/visibilities.html.twig' %} 
        </div>
        <div class="col-md-6">
 {% include 'analyse/parts/promotions.html.twig' %} 
      </div>          
  </div>
    <div class="row">      
          <div class="col-md-6">
 {% include 'pointvente/winers.html.twig' %}
        </div>
        <div class="col-md-6">
  {% include 'legende.html.twig' %}
      </div>          
  </div>  
        
</div>
{% endblock %}
{% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
      <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script> 
    <script type="text/javascript">
     loadScript( "{{ asset('assets/Chart.min.js') }}", function() {
         var data = {
          labels: [
        {% for marque in marques %}
          "{{marque.nom}}",
         {%endfor%}
           ],
         datasets: [
             {
        data: [
        {% if (total)>0 %}{% for marque in marques  %}{{(marque.bnreblle*100/total)|number_format(0, '.', ' ')}},{%endfor%}{%endif%}],
        backgroundColor: [{% for color in colors  %}"{{ color}}",{%endfor%}],
        hoverBackgroundColor: [{% for color in colors  %}"{{ color}}",{%endfor%}]
        }]
      };      
    var ctx = document.getElementById("pieChartCanvas").getContext("2d");
            new Chart(ctx,{
                type: 'pie',
               data: data
                });
                               
var data = {
    labels: [{% for sales in salesweek %}"{{sales.weekText}}",{% endfor%}],
    datasets: [
        {
            label: "POS TARGET",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(255, 206, 86, 27)",
            borderColor: "rgba(255, 206, 86, 27)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [{% for  sales in salesweek %}{{sales.posTarget}},{% endfor%}],
            spanGaps: false,
        },
         {
            label: "POS REAL BA",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(255, 99, 132, 27)",
            borderColor: "rgba(255, 99, 132, 27)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [{% for  sales in salesweek %}{{sales.posRealTarget}},{% endfor%}],
            spanGaps: false,
        }
        ,
         {
            label: "POS REAL DAY",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(76, 175, 106, 5)",
            borderColor: "rgba(76, 175, 106, 5)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(76, 175, 106, 5)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(76, 175, 106, 5)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [{% for  sales in salesweek %}{{sales.posRealDay}},{% endfor%}],
            spanGaps: false,
        }
       
    ]
 };



    var ctx2 = document.getElementById("barChartCanvas").getContext("2d");
            new Chart(ctx2,{
                type: 'line',
                data: data
            });
      });
        </script>
     <script>
     function initMap() {
  var myLatLng = new google.maps.LatLng(-0.636558, 15.168308) ;

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: myLatLng,
   mapTypeId: google.maps.MapTypeId.HYBRID
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: '{{pointVente.nom}}\nTel: {{pointVente.telGerant}}'
  });
}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnDVCVll8mthbMy6rXkfJXF3FoqQTIqBw&callback=initMap">
    </script>  

       {% endblock %}