{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Last report{% endblock %}
 {% set total= marques|somme('bnreblle')%}
{% block body %}
   <!-- page title -->
    <header id="page-header">
    <h1>Overview On Last reports <a>{% if app.session.get('region') %}{{app.session.get('region')}}{% else %} Toutes catégories{% endif %}</a></h1>
    </header>
<div id="content" class="dashboard padding-20">

                    <!-- BOXES -->
                    <div class="row">

                        <!-- Feedback Box -->
                        <div class="col-md-2 col-sm-6">

                            <!-- BOX -->
                            <div class="box danger"><!-- default, danger, warning, info, success -->

                                <div class="box-title"><!-- add .noborder class if box-body is removed -->
            <h4><a>{{shares|length}} points de vente activés </a></h4>
            <small class="block"></small>
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="box-body text-center">
                                </div>
                            </div>
                            <!-- /BOX -->
                        </div>

                        <!-- Profit Box -->
                        <div class="col-md-2 col-sm-6">

                            <!-- BOX -->
                            <div class="box warning"><!-- default, danger, warning, info, success -->

                                <div class="box-title"><!-- add .noborder class if box-body is removed -->
                                    <h4>{{((sales|somme('posrealtarget'))/(sales|somme('postarget'))*100)|number_format(0, ',', '.')}}% :Real BA in POS vs  Target</h4>
                                <small class="block"></small>
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="box-body text-center">
                                </div>
                            </div>
                            <!-- /BOX -->

                        </div>

                        
                        <div class="col-md-2 col-sm-6">
                            <!-- BOX -->
                            <div class="box default"><!-- default, danger, warning, info, success -->

                                <div class="box-title"><!-- add .noborder class if box-body is removed -->
                                    <h4>{{((sales|somme('posrealday'))/(sales|somme('postarget'))*100)|number_format(0, ',', '.')}}% :Real Day in POS vs  Target</h4>
                               <small class="block"></small>
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="box-body text-center">

                                </div>

                            </div>
                            <!-- /BOX -->

                        </div>

                        {% set fi=0%}
                        <!-- Online Box -->
                        <div class="col-md-2 col-sm-6">
                            <!-- BOX -->
                            <div class="box info"><!-- default, danger, warning, info, success -->

                                <div class="box-title"><!-- add .noborder class if box-body is removed -->
                                    <h4>{{gagnants|length}} : Bouteilles gratuites distribuées</h4>
                          <small class="block"></small>
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>

                                <div class="box-body text-center">

                                </div>
                            </div>
                            <!-- /BOX -->

                        </div>
{% set sminoffBlue=shares|somme('sminoffblue') %}
{% set sminoff=(shares|somme('sminoffred')+shares|somme('sminoffblack')+shares|somme('sminoffblue')) %}
{% set univers=(sminoff+shares|somme('heineken')+shares|somme('voodka')+shares|somme('boostrer')+shares|somme('sabc1664')+shares|somme('sabc')) %}
                        <!-- Online Box -->
                        <div class="col-md-2 col-sm-6">
                            <!-- BOX -->
                            <div class="box warning"><!-- default, danger, warning, info, success -->

                                <div class="box-title"><!-- add .noborder class if box-body is removed -->
                                    <h4>{{(sminoffBlue*100/sminoff)|number_format(0, ',', '.') }}% : Part de SIBlue sur SI</h4>
                          <small class="block"></small>
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="box-body text-center">

                                </div>
                            </div>
                            <!-- /BOX -->
                        </div>
                        <!-- Online Box -->
                        <div class="col-md-2 col-sm-6">
                            <!-- BOX -->
                            <div class="box success"><!-- default, danger, warning, info, success -->

                                <div class="box-title"><!-- add .noborder class if box-body is removed -->
                                    <h4>
                                    {{(sminoffBlue*100/univers)|number_format(0, ',', '.') }} %: Part de SIBlue sur l'univers
                                    </h4>
                           <small class="block"> </small>
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>

                                <div class="box-body text-center">

                                </div>

                            </div>
                            <!-- /BOX -->

                        </div>

                    </div>
    <div class="row">
        <div class="col-md-6">
 {% include 'analyse/parts/visibilities.html.twig' %} 
        </div>
        <div class="col-md-6">
 {% include 'analyse/parts/promotions.html.twig' %} 
        </div>  
        <div class="col-md-6">
 {% include 'analyse/parts/shares.html.twig' %} 
        </div> 
        <div class="col-md-6">
 {% include 'analyse/parts/graph.html.twig' %} 
        </div> 
          </div>       
    <div class="row">               
        <div class="col-md-6">
 {% include 'analyse/parts/prices.html.twig' %} 
        </div>  
        <div class="col-md-6">
{% include 'legende.html.twig' %}  
        </div>                                         
    </div>              
                  
         </div>
 {% endblock %}

{% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>
      <script type="text/javascript">
     loadScript( "{{ asset('assets/Chart.min.js') }}", function() {

         var data = {
          labels: [
        {% for marque in marques %}
          "{{marque.nom}}",
         {%endfor%}
           ],
         datasets: [
             {
        data: [
        {% if (total)>0 %}{% for marque in marques  %}{{(marque.bnreblle*100/total)|number_format(0, '.', ' ')}},{%endfor%}{%endif%}],
        backgroundColor: [{% for color in colors  %}"{{ color}}",{%endfor%}],
        hoverBackgroundColor: [{% for color in colors  %}"{{ color}}",{%endfor%}]
        }]
      };      
    var ctx = document.getElementById("pieChartCanvas").getContext("2d");
            new Chart(ctx,{
                type: 'pie',
               data: data
                });
                
        });    
        </script>
       {% endblock %}