{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Sales  anlysis{% endblock %}
  {% block body %}

   <!-- page title -->
    <header id="page-header">
    <h1>Sales anlysis<a> {% if app.session.get('region') %}{{app.session.get('region')}}{% else %} Toutes catégories{% endif %}</a></h1>
    </header>
<div id="content" class="dashboard padding-20">
                            <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Evolution des ventes de Sminoff Ice</strong> : Vente en bouteilles
                                    </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->

                                </div>

                                <!-- panel content -->
                                <div class="panel-body">    


                         <canvas class="chartjs fullwidth height-450" id="barChartCanvas" ></canvas>
                                </div>
                                <!-- /panel content -->

                            </div>
                            <!-- /PANEL -->

<div class="panel panel-default ">
            <div class="panel-body">
<ul class="easypiecharts list-unstyled">
                <li class="clearfix">
                  <span class="stat-number">{{ rapports|somme('posTarget')}}</span>
                  <span class="stat-title"><b>POS Target</b></span>
                </li>
                <li class="clearfix">
                 {% set percent=  (rapports|somme('posRealTarget'))/(rapports|somme('posTarget')) %}
                  <span class="stat-number">{{ rapports|somme('posRealTarget')}}</span>
                  <span class="stat-title">POS Real BA </span>
                  
                  <span class="easyPieChart" data-percent="{{percent*100}}" data-easing="easeOutBounce" data-barcolor="#F86C6B" data-trackcolor="#dddddd" data-scalecolor="#dddddd" data-size="60" data-linewidth="4" style="width: 60px; height: 60px;">

                    <span class="percent">{{ percent*100}}</span>
                  
                  <canvas height="60" width="60"></canvas></span> 
                </li>
                <li class="clearfix">
                 {% set percent= (rapports|somme('posRealDay'))/(rapports|somme('posTarget')) %}
                  <span class="stat-number">{{ rapports|somme('posRealDay')}}</span>
                  <span class="stat-title">POS Real Day </span>
                  
               <span class="easyPieChart" data-percent="{{percent*100}}" data-easing="easeOutBounce" data-barcolor="#98AD4E" data-trackcolor="#dddddd" data-scalecolor="#dddddd" data-size="60" data-linewidth="4" style="width: 60px; height: 60px;">
                    <span class="percent">{{percent*100}}</span>
                  <canvas height="60" width="60"></canvas></span> 
                </li>
              </ul>
            </div>
        </div>
     <div id="panel-2" class="panel panel-default">
                         <div class="panel-heading">
                         <span class="title elipsis">
                        <strong>Sales of Sminoff Ice</strong> :Pour toute la période selectionnée
                        </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->
                                </div>
                                <!-- panel content -->
                                <div class="panel-body">  
                                           <table class="table table-striped table-bordered table-hover" id="datatable_sample">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-md-4 default">POS</th>
                                                            <th class="col-md-1">Catégorie</th>
                                                            <th class="col-md-1">Quartier</th>
                                                            <th class="col-md-1 warning ">POS TARGET</th>
                                                            <th class="col-md-1 info">Real BA in POS </th>
                                                            <th class="col-md-1">Real Day in POS</th>
                                                            <th class="col-md-1 danger">Real BA vs TARGET</th>
                                                            <th class="col-md-1 success">Real POS vs TARGET</th>                             
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for rapport in rapports %}
                                                        <tr class="odd gradeX">   
                                                            <td >{{rapport.nom}}</td> 
                                                            <td >{{rapport.type}}</td>    
                                                            <td >{{rapport.quartier}}</td>                                      
                                                            <td class="warning ">{{rapport.posTarget |number_format(0, ',', '.')}}</td>
                                                            <td class="col-md-1 info">{{rapport.posRealTarget |number_format(0, ',', '.')}}</td>
                                                            <td>{{rapport.posRealDay |number_format(0, ',', '.')}}</td>
                                                          <td class="col-md-1 danger">
                                                         {% if rapport.posTarget>0 %}
                                                          {{( rapport.posRealTarget*100/rapport.posTarget) |number_format(0, ',', '.')}}%
                                                         {% else %}
                                                           --
                                                         {% endif %}
                                                         </td>
                                                          <td class="col-md-1 success">
                                                         {% if rapport.posTarget>0 %}
                                                          {{( rapport.posRealDay*100/rapport.posTarget) |number_format(0, ',', '.')}}%
                                                         {% else %}
                                                           --
                                                         {% endif %}
                                                         </td>
                                                        </tr>
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                                <a class="btn btn-xs btn-info"  href="#">
                                                    <i class="fa fa-arrow-right"></i> 
                                                    Exporter vers (.xls)
                                                </a>
                                </div>
                                <!-- /panel content -->
     
                    </div>

   {% include 'legende.html.twig' %}                     
   </div>
 {% endblock %}

        {% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>
        <script type="text/javascript">
         loadScript( plugin_path + "datatables/js/jquery.dataTables.min.js", function() {
             loadScript(plugin_path + "datatables/dataTables.bootstrap.js", function(){
            if (jQuery().dataTable) {
            var table = jQuery('#datatable_sample');
            table.dataTable({
                    "columns": [

                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            }, {
                                "orderable": true
                            }, {
                                "orderable": true
                            }, {
                                "orderable": true
                            }],
                            "lengthMenu": [
                                [20, 50, 100, -1],
                                [20, 50, 100, "Tous"] // change per page values here
                            ],
                            // set the initial value
                            "pageLength": 20,            
                            "pagingType": "bootstrap_full_number",
                            "language": {
                                "lengthMenu": "  _MENU_ records",
                                "paginate": {
                                    "previous":"Prev",
                                    "next": "Next",
                                    "last": "Last",
                                    "first": "First"
                                }
                            },
                            "columnDefs": [{  // set default column settings
                                'orderable': false,
                                'targets': [0]
                            }, {
                                "searchable": false,
                                "targets": [0]
                            }],
                            "order": [
                                [1, "asc"]
                            ] // set first column as a default sort by asc
                        });      
               }
             });
            });
        </script>
        <script type="text/javascript">
            /**
                Chart.js
                http://www.chartjs.org/
            **/
 

     loadScript( "{{ asset('assets/Chart.min.js') }}", function() {

                               
var data = {
    labels: [{% for sales in salesweek %}"{{sales.weekText}}",{% endfor%}],
    datasets: [
        {
            label: "POS TARGET",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(255, 206, 86, 27)",
            borderColor: "rgba(255, 206, 86, 27)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [{% for  sales in salesweek %}{{sales.posTarget}},{% endfor%}],
            spanGaps: false,
        },
         {
            label: "POS REAL BA",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(255, 99, 132, 27)",
            borderColor: "rgba(255, 99, 132, 27)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [{% for  sales in salesweek %}{{sales.posRealTarget}},{% endfor%}],
            spanGaps: false,
        }
        ,
         {
            label: "POS REAL DAY",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(76, 175, 106, 5)",
            borderColor: "rgba(76, 175, 106, 5)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(76, 175, 106, 5)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(76, 175, 106, 5)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [{% for  sales in salesweek %}{{sales.posRealDay}},{% endfor%}],
            spanGaps: false,
        }
       
    ]
 };

    var ctx2 = document.getElementById("barChartCanvas").getContext("2d");
            new Chart(ctx2,{
                type: 'line',
                data: data
            });
      });
        </script>       
<!-- PAGE LEVEL SCRIPT -->
    <script type="text/javascript">
      _toastr("Sales","top-right","success",false);

      /** SALES CHART
      ******************************************* **/
      loadScript(plugin_path + "chart.flot/jquery.flot.min.js", function(){
        loadScript(plugin_path + "chart.flot/jquery.flot.resize.min.js", function(){
          loadScript(plugin_path + "chart.flot/jquery.flot.time.min.js", function(){
            loadScript(plugin_path + "chart.flot/jquery.flot.fillbetween.min.js", function(){
              loadScript(plugin_path + "chart.flot/jquery.flot.orderBars.min.js", function(){
                loadScript(plugin_path + "chart.flot/jquery.flot.pie.min.js", function(){
                  loadScript(plugin_path + "chart.flot/jquery.flot.tooltip.min.js", function(){



                  });
                });
              });
            });
          });
        });
      });
      </script>
       {% endblock %}