{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Merchandising{% endblock %}
  {% block body %}

   <!-- page title -->
    <header id="page-header">
    <h1>Merchandising of Smirnoff Ice<a> {% if app.session.get('region') %}{{app.session.get('region')}}{% else %} Toutes catégories{% endif %}</a></h1>
    </header>
<div id="content" class="dashboard padding-20">

     <div id="panel-2" class="panel panel-default">
                         <div class="panel-heading">
                         <span class="title elipsis">
                        <strong>Merchandising of Smirnoff Ice</strong> :Pour toute la période selectionnée
                        </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->
                                </div>
                                <!-- panel content -->
                                <div class="panel-body">  
                                           <table class="table table-striped table-bordered table-hover" id="datatable_sample">
                                                    <thead>
                                                        <tr>
                                                           <th class="success">Nom du POS</th>
                                                           <th class="success">Categorie</th>
                                                           <th class="success">Quartier</th>
                                                            <th>Superviseur</th>
                                                            <th>BA</th>
                                                           <th >Date rapport</th>  
                                                            <th class="warning">Position</th>                                                          
                                                            <th class="warning">N° LEtagére</th>
                                                            <th class="warning">NCEtagére</th>
                                                            <th class=" danger">N° LFrigo</th>
                                                            <th class=" danger">NCFrigo</th>                             
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for rapport in rapports %}
                                                        <tr class="odd gradeX"> 
                                                        <td class="success">{{rapport.pointVente.nom}}</td>
                                                         <td  class="col-md-1 success"><i>{{rapport.pointVente.type}}</i></td>
                                                          <td class="success">{{rapport.pointVente.quartier}}</td>                                                           
                                                        <td class="col-md-2">{% if rapport.user%}{{rapport.user.nom}}{% endif %}</td> 
                                                        <td class="col-md-2">{% if rapport.rh%}{{rapport.rh.nom}}{% endif %}</td> 
                                                         <td >{{rapport.date| date('d/m/Y')}}</td>                                     
                                                          <td class="col-md-1  warning">{{rapport.disposition }}</td>
                                                          <td class="col-md-1 warning">{{rapport.etagerLigne |number_format(0, ',', '.')}}</td>
                                                          <td class="col-md-1 warning">{{rapport.etagerColonne |number_format(0, ',', '.')}}</td>
                                                          <td class="col-md-1 danger">{{rapport.frigoLigne |number_format(0, ',', '.')}}</td>
                                                          <td class="col-md-1 danger">{{rapport.frigoColonne |number_format(0, ',', '.')}}</td>
                                                        </tr>
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                                <a class="btn btn-xs btn-info"  href="#">
                                                    <i class="fa fa-arrow-right"></i> 
                                                    Exporter vers (.xls)
                                                </a>
                                </div>
                                <!-- /panel content -->
     
                    </div>

   {% include 'legende.html.twig' %}                     
   </div>
 {% endblock %}

        {% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>
        <script type="text/javascript">
         loadScript( plugin_path + "datatables/js/jquery.dataTables.min.js", function() {
             loadScript(plugin_path + "datatables/dataTables.bootstrap.js", function(){
            if (jQuery().dataTable) {
            var table = jQuery('#datatable_sample');
            table.dataTable({
                    "columns": [

                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            }, 
                            {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            }, 
                            {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            }, {
                                "orderable": true
                            }, {
                                "orderable": true
                            }, {
                                "orderable": true
                            }],
                            "lengthMenu": [
                                [20, 50, 100, -1],
                                [20, 50, 100, "Tous"] // change per page values here
                            ],
                            // set the initial value
                            "pageLength": 20,            
                            "pagingType": "bootstrap_full_number",
                            "language": {
                                "lengthMenu": "  _MENU_ records",
                                "paginate": {
                                    "previous":"Prev",
                                    "next": "Next",
                                    "last": "Last",
                                    "first": "First"
                                }
                            },
                            "columnDefs": [{  // set default column settings
                                'orderable': false,
                                'targets': [0]
                            }, {
                                "searchable": false,
                                "targets": [0]
                            }],
                            "order": [
                                [1, "asc"]
                            ] // set first column as a default sort by asc
                        });      
               }
             });
            });
        </script>
    
       {% endblock %}