{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Présence & rupture {% endblock %}
  {% block body %}

   <!-- page title -->
    <header id="page-header">
    <h1>Présence et rupture de stock
     <a>

    {% if pointVente is defined and pointVente is not null %}
        {{ pointVente.nom }} 
    {% else %}
    {% if app.session.get('region') %}{{app.session.get('region')}}{% else %} Toutes catégories{% endif %}     
    {% endif %}
  
    </a>

    </h1>
    </header>
<div id="content" class="dashboard padding-20">
     <div id="panel-2" class="panel panel-default">
            <div class="panel-heading">
                <span class="title elipsis pull-left">
                        <strong>Présence & rupture</strong> :Historique dans la période
                        </span>           
                  <!-- tabs nav -->
                  <ul class="nav nav-tabs pull-right">
                    <li class="active info"><!-- TAB 1 -->
                      <a href="#ice" data-toggle="tab" aria-expanded="true">Sminoff</a>
                    </li>
                    <li class=""><!-- TAB 2 -->
                      <a href="#heineken" data-toggle="tab" aria-expanded="true">Heineken</a>
                    </li> 
                     <li class=""><!-- TAB 2 -->
                      <a href="#boostrer" data-toggle="tab" aria-expanded="true">Booster Cola</a>
                    </li> 
                     <li class=""><!-- TAB 2 -->
                      <a href="#sabc" data-toggle="tab" aria-expanded="true">Booster Cider</a>
                    </li>                    
                    <li class=""><!-- TAB 2 -->
                      <a href="#voodka" data-toggle="tab" aria-expanded="true">VK</a>
                    </li> 
                     <li class=""><!-- TAB 2 -->
                      <a href="#sabc1664" data-toggle="tab" aria-expanded="true">1664</a>
                    </li>                                                         
                  </ul>
                <!-- /right options -->
            </div>
                                <!-- panel content -->
                    <div class="panel-body">  
                    <!-- tabs content -->
                    <div class="tab-content transparent"> 
                      <div id="ice" class="tab-pane active"><!-- TAB 1 CONTENT -->                               
                        <table class="table table-striped table-bordered table-hover" id="datatable_sample">
                                {% include 'rapport/presence/headers.html.twig' %}    
                                    <tbody>
                                    {% for rapport in rapports %}
                                             {% set value=rapport.sminoffRed %} 
                                            {% include 'rapport/presence/tr.html.twig' %} 
                                                        {%endfor%}                                       
                                                  </tbody>
                                                </table>
                                   </div><!-- /TAB 1 CONTENT -->

                      <div id="heineken" class="tab-pane "><!-- TAB 2 CONTENT -->                               
                                           <table class="table table-striped table-bordered table-hover" id="datatable_sample4">
                            {% include 'rapport/presence/headers.html.twig' %}   
                                                    <tbody>
                                                    {% for rapport in rapports %}
                                             {% set value=rapport.heineken %} 
                                            {% include 'rapport/presence/tr.html.twig' %} 
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                   </div><!-- /TAB 1 CONTENT-->                                                                                                                         
                      <div id="boostrer" class="tab-pane "><!-- TAB 2 CONTENT -->                               
                                           <table class="table table-striped table-bordered table-hover" id="datatable_sample5">
                      {% include 'rapport/presence/headers.html.twig' %}   
                                                    <tbody>
                                                    {% for rapport in rapports %}
                                             {% set value=rapport.boostrer %} 
                                            {% include 'rapport/presence/tr.html.twig' %} 
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                   </div><!-- /TAB 1 CONTENT-->   

                      <div id="voodka" class="tab-pane "><!-- TAB 2 CONTENT -->                               
                                           <table class="table table-striped table-bordered table-hover" id="datatable_sample6">
                       {% include 'rapport/presence/headers.html.twig' %}   
                                                    <tbody>
                                                    {% for rapport in rapports %}
                                             {% set value=rapport.voodka %} 
                                            {% include 'rapport/presence/tr.html.twig' %} 
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                   </div><!-- /TAB 1 CONTENT-->  

                      <div id="sabc1664" class="tab-pane "><!-- TAB 2 CONTENT -->                               
                                           <table class="table table-striped table-bordered table-hover" id="datatable_sample7">
                                      {% include 'rapport/presence/headers.html.twig' %}   
                                                    <tbody>
                                                    {% for rapport in rapports %}
                                             {% set value=rapport.sabc1664 %} 
                                            {% include 'rapport/presence/tr.html.twig' %} 
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                   </div><!-- /TAB 1 CONTENT-->   

                      <div id="sabc" class="tab-pane "><!-- TAB 2 CONTENT -->                               
                                           <table class="table table-striped table-bordered table-hover" id="datatable_sample8">
                              {% include 'rapport/presence/headers.html.twig' %}   
                                                    <tbody>
                                                    {% for rapport in rapports %}
                                             {% set value=rapport.sabc %} 
                                            {% include 'rapport/presence/tr.html.twig' %} 
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                   </div><!-- /TAB 1 CONTENT-->                                                                                                                                                                                                                                
                        </div><!-- /TAB 1 CONTENT -->                                                                     
                                                <a class="btn btn-xs btn-info"  href="#">
                                                    <i class="fa fa-arrow-right"></i> 
                                                    Exporter vers (.xls)
                                                </a>
                                </div>
                                <!-- /panel content -->
                    </div>
   {% include 'legende.html.twig' %}                     
                 </div>
 {% endblock %}

        {% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>
        <script type="text/javascript">
         loadScript( plugin_path + "datatables/js/jquery.dataTables.min.js", function() {
             loadScript(plugin_path + "datatables/dataTables.bootstrap.js", function(){
            if (jQuery().dataTable) {
            var columns=[{
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },                    
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            }, {
                                "orderable": true
                            }, {
                                "orderable": true
                            }, {
                                "orderable": true
                            }, {
                                "orderable": true
                            }];
            var  columnDefs= [{  // set default column settings
                                'orderable': true,
                                'targets': [1]
                            }, {
                                "searchable": true,
                                "targets": [1]
                            }];
            var table = jQuery('#datatable_sample');

               var table4 = jQuery('#datatable_sample4');
                var table5 = jQuery('#datatable_sample5');
                 var table6 = jQuery('#datatable_sample6');
                  var table7 = jQuery('#datatable_sample7');
                   var table8 = jQuery('#datatable_sample8');
            table.dataTable({
                    "columns": columns,
                            "lengthMenu": [
                                [20, 50, 100, -1],
                                [20, 50, 100, "Tous"] // change per page values here
                            ],
                            // set the initial value
                            "pageLength": 20,            
                            "pagingType": "bootstrap_full_number",
                            "language": {
                                "lengthMenu": "  _MENU_ records",
                                "paginate": {
                                    "previous":"Prev",
                                    "next": "Next",
                                    "last": "Last",
                                    "first": "First"
                                }
                            },
                            "columnDefs": columnDefs,
                            "order": [
                                [1, "asc"]
                            ] // set first column as a default sort by asc
                        });  

            table4.dataTable({
                    "columns": columns,
                            "lengthMenu": [
                                [20, 50, 100, -1],
                                [20, 50, 100, "Tous"] // change per page values here
                            ],
                            // set the initial value
                            "pageLength": 20,            
                            "pagingType": "bootstrap_full_number",
                            "language": {
                                "lengthMenu": "  _MENU_ records",
                                "paginate": {
                                    "previous":"Prev",
                                    "next": "Next",
                                    "last": "Last",
                                    "first": "First"
                                }
                            },
                            "columnDefs": columnDefs,
                            "order": [
                                [1, "asc"]
                            ] // set first column as a default sort by asc
                        });

            table5.dataTable({
                    "columns": columns,
                            "lengthMenu": [
                                [20, 50, 100, -1],
                                [20, 50, 100, "Tous"] // change per page values here
                            ],
                            // set the initial value
                            "pageLength": 20,            
                            "pagingType": "bootstrap_full_number",
                            "language": {
                                "lengthMenu": "  _MENU_ records",
                                "paginate": {
                                    "previous":"Prev",
                                    "next": "Next",
                                    "last": "Last",
                                    "first": "First"
                                }
                            },
                            "columnDefs": columnDefs,
                            "order": [
                                [1, "asc"]
                            ] // set first column as a default sort by asc
                        });
            table6.dataTable({
                    "columns": columns,
                            "lengthMenu": [
                                [20, 50, 100, -1],
                                [20, 50, 100, "Tous"] // change per page values here
                            ],
                            // set the initial value
                            "pageLength": 20,            
                            "pagingType": "bootstrap_full_number",
                            "language": {
                                "lengthMenu": "  _MENU_ records",
                                "paginate": {
                                    "previous":"Prev",
                                    "next": "Next",
                                    "last": "Last",
                                    "first": "First"
                                }
                            },
                            "columnDefs": columnDefs,
                            "order": [
                                [1, "asc"]
                            ] // set first column as a default sort by asc
                        }); 
            table7.dataTable({
                    "columns": columns,
                            "lengthMenu": [
                                [20, 50, 100, -1],
                                [20, 50, 100, "Tous"] // change per page values here
                            ],
                            // set the initial value
                            "pageLength": 20,            
                            "pagingType": "bootstrap_full_number",
                            "language": {
                                "lengthMenu": "  _MENU_ records",
                                "paginate": {
                                    "previous":"Prev",
                                    "next": "Next",
                                    "last": "Last",
                                    "first": "First"
                                }
                            },
                            "columnDefs":columnDefs,
                            "order": [
                                [1, "asc"]
                            ] // set first column as a default sort by asc
                        });

            table8.dataTable({
                    "columns": columns,
                            "lengthMenu": [
                                [20, 50, 100, -1],
                                [20, 50, 100, "Tous"] // change per page values here
                            ],
                            // set the initial value
                            "pageLength": 20,            
                            "pagingType": "bootstrap_full_number",
                            "language": {
                                "lengthMenu": "  _MENU_ records",
                                "paginate": {
                                    "previous":"Prev",
                                    "next": "Next",
                                    "last": "Last",
                                    "first": "First"
                                }
                            },
                            "columnDefs":columnDefs,
                            "order": [
                                [1, "asc"]
                            ] // set first column as a default sort by asc
                        });                                                                                                                       
               }
             });
            });
        </script>
<!-- PAGE LEVEL SCRIPT -->
    <script type="text/javascript">
      _toastr("Visibilitie and prices","top-right","success",false);

      /** SALES CHART
      ******************************************* **/
      loadScript(plugin_path + "chart.flot/jquery.flot.min.js", function(){
        loadScript(plugin_path + "chart.flot/jquery.flot.resize.min.js", function(){
          loadScript(plugin_path + "chart.flot/jquery.flot.time.min.js", function(){
            loadScript(plugin_path + "chart.flot/jquery.flot.fillbetween.min.js", function(){
              loadScript(plugin_path + "chart.flot/jquery.flot.orderBars.min.js", function(){
                loadScript(plugin_path + "chart.flot/jquery.flot.pie.min.js", function(){
                  loadScript(plugin_path + "chart.flot/jquery.flot.tooltip.min.js", function(){
                  });
                });
              });
            });
          });
        });
      });
      </script>
       {% endblock %}
