{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Prix par marque{% endblock %}
  {% block body %}

   <!-- page title -->
    <header id="page-header">
    <h1>Historique des prix

     <a>

    {% if pointVente is defined and pointVente is not null %}
        {{ pointVente.nom }} 
    {% else %}
    {% if app.session.get('region') %}{{app.session.get('region')}}{% else %} Toutes catégories{% endif %}     
    {% endif %}
  
    </a>
    </h1>
    </header>
<div id="content" class="dashboard padding-20">

     <div id="panel-2" class="panel panel-default">
                         <div class="panel-heading">
                           <span class="title elipsis">
                        <strong>Historique des prix  d'une bouteille</strong>({{rapports|length }} rapports)
                        </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->
                                </div>
                                <!-- panel content -->
                                <div class="panel-body">  
                                           <table class="table table-striped table-bordered table-hover" id="datatable_sample">
                                                    <thead>
                                                        <tr>
                                                           <th class="success">Nom du POS</th>
                                                            <th class="success">Categorie</th>
                                                            <th class="success">Quartier</th>   
                                                           <th >Superviseur</th>
                                                           <th>BA</th>
                                                           <th >Date rapport</th>                                                                   
                                                            <th class="warning">SIRed</th>
                                                            <th class="warning">SIBlack</th>
                                                            <th class="warning">SIBlue</th>
                                                            <th class="info">BCola</th>
                                                            <th class="info">BCider</th>
                                                            <th class="info">Hieneken</th> 
                                                             <th class="info">VK</th> 
                                                            <th class="info">1664</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for rapport in rapports %}
                                                        <tr class="odd gradeX"> 
                                                        <td class="success">{{rapport.pointVente.nom}}</td>
                                                        <td  class="col-md-1 success"><i>{{rapport.pointVente.type}}</i></td>
                                                        <td class="success">{{rapport.pointVente.quartier}}</td>                                                          
                                                        <td class="col-md-1">{% if rapport.user%}{{rapport.user.nom}}{% endif %}</td> 
                                                        <td class="col-md-3">{% if rapport.rh%}{{rapport.rh.nom}}{% endif %}{% if rapport.rh1 and rapport.rh1!=rapport.rh%}<br>{{rapport.rh1.nom}}{% endif %}</td> 
                                                        <td >{{rapport.date| date('d/m/Y')}}</td> 
                                                        <td  class="col-md-1 warning">{{rapport.sminoffRed.price|number_format(0, ',', '.')}} </td>
                                                        <td  class="col-md-1 warning">{{rapport.sminoffBlack.price|number_format(0, ',', '.')}} </td>
                                                        <td  class="col-md-1 danger">{{rapport.sminoffBlue.price|number_format(0, ',', '.')}} </td>
                                                        <td class="col-md-1 info">{{rapport.boostrer.price|number_format(0, ',', '.')}} </td>
                                                        <td  class="col-md-1 info">{{rapport.sabc.price|number_format(0, ',', '.')}} </td>
                                                        <td class="col-md-1 info">{{rapport.heineken.price|number_format(0, ',', '.')}} </td>                                 
                                                        <td class="col-md-1 info">{{rapport.voodka.price|number_format(0, ',', '.')}} </td> 
                                                        <td class="col-md-1 info">{{rapport.sabc1664.price|number_format(0, ',', '.')}}</td> 
                                                        </tr>
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                                <a class="btn btn-xs btn-info"  href="#">
                                                    <i class="fa fa-arrow-right"></i> 
                                                    Exporter vers (.xls)
                                                </a>
                                </div>
                                <!-- /panel content -->
                    </div>
     {% include 'legende.html.twig' %}                    
                 </div>
 {% endblock %}

        {% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>
        <script type="text/javascript">
         loadScript( plugin_path + "datatables/js/jquery.dataTables.min.js", function() {
             loadScript(plugin_path + "datatables/dataTables.bootstrap.js", function(){
            if (jQuery().dataTable) {
            var table = jQuery('#datatable_sample');
            table.dataTable({
                               "columns": [
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            }],
                            "lengthMenu": [
                                [20, 50, 100, -1],
                                [20, 50, 100, "Tous"] // change per page values here
                            ],
                            // set the initial value
                            "pageLength": 20,            
                            "pagingType": "bootstrap_full_number",
                            "language": {
                                "lengthMenu": "  _MENU_ records",
                                "paginate": {
                                    "previous":"Prev",
                                    "next": "Next",
                                    "last": "Last",
                                    "first": "First"
                                }
                            },
                            "columnDefs": [{  // set default column settings
                                'orderable': false,
                                'targets': [0]
                            }, {
                                "searchable": false,
                                "targets": [0]
                            }],
                            "order": [
                                [1, "asc"]
                            ] // set first column as a default sort by asc
                        });      
               }
             });
            });
        </script>
<!-- PAGE LEVEL SCRIPT -->
    <script type="text/javascript">
      _toastr("Respect de prix","top-right","success",false);

      /** SALES CHART
      ******************************************* **/
      loadScript(plugin_path + "chart.flot/jquery.flot.min.js", function(){
        loadScript(plugin_path + "chart.flot/jquery.flot.resize.min.js", function(){
          loadScript(plugin_path + "chart.flot/jquery.flot.time.min.js", function(){
            loadScript(plugin_path + "chart.flot/jquery.flot.fillbetween.min.js", function(){
              loadScript(plugin_path + "chart.flot/jquery.flot.orderBars.min.js", function(){
                loadScript(plugin_path + "chart.flot/jquery.flot.pie.min.js", function(){
                  loadScript(plugin_path + "chart.flot/jquery.flot.tooltip.min.js", function(){



                  });
                });
              });
            });
          });
        });
      });
      </script>
       {% endblock %}