{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Shares of table{% endblock %}
  {% block body %}
   <!-- page title -->
    <header id="page-header">
    <h1>Shares of table 

     <a>

    {% if pointVente is defined and pointVente is not null %}
        {{ pointVente.nom }} 
    {% else %}
    {% if app.session.get('region') %}{{app.session.get('region')}}{% else %} Toutes catégories{% endif %}     
    {% endif %}
  
    </a>

    </h1>
    </header>
<div id="content" class="dashboard padding-20">

     <div id="panel-2" class="panel panel-default">
                         <div class="panel-heading">
                           <span class="title elipsis">
                        <strong>Shares of table </strong>: ({{rapports|length }} rapports)
                        </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->
                                </div>
                                <!-- panel content -->
                                <div class="panel-body">  
                                           <table class="table table-striped table-bordered table-hover" id="datatable_sample">
                                                  <thead>
                                                      <tr>
                                                           <th class="success">Nom du POS</th>
                                                           <th class="success">Cat</th>
                                                           <th class="success">Qtier</th>
                                                            <th>Super.</th>
                                                            <th>BA</th>
                                                           <th >Date </th>                                                           
                                                           <th class="col-md-1 warning ">SIRed</th>
                                                           <th class="col-md-1 warning ">SIBlack</th> 
                                                           <th class="col-md-1 danger ">SIEG</th>
                                                           <th class="col-md-1 info ">Hei</th>
                                                           <th class="col-md-1 info ">VK</th> 
                                                           <th class="col-md-1 info ">BCola</th> 
                                                           <th class="col-md-1 info ">BCider</th>
                                                           <th class="col-md-1 info ">1664</th> 
                                                           <th >SIBlue/SI</th> 
                                                           <th class="danger ">Part SIBlue</th>
                                                           <th >Part SI</th>                                   
                                                       </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for rapport in rapports %}
                                                    {% set sminoff=(rapport.sminoffRed.bnreBlle+rapport.sminoffBlue.bnreBlle+rapport.sminoffBlack.bnreBlle) %}
                                                    {% set univers=(sminoff+rapport.heineken.bnreBlle+rapport.voodka.bnreBlle+rapport.boostrer.bnreBlle+rapport.sabc1664.bnreBlle+rapport.sabc.bnreBlle) %}
                                                          <td class="success">{{rapport.pointVente.nom}}</td>
                                                          <td  class=" success"><i>{{rapport.pointVente.type}}</i></td>
                                                          <td class=" success">{{rapport.pointVente.quartier}}</td>                                                      
                                                          <td >{% if rapport.user%}{{rapport.user.nom}}{% endif %}</td> 
                                                          <td class="col-md-2">{% if rapport.rh%}{{rapport.rh.nom}}{% endif %}{% if rapport.rh1 and rapport.rh1!=rapport.rh%}<br>{{rapport.rh1.nom}}{% endif %}</td> 
                                                          <td >{{rapport.date| date('d/m/Y')}}</td>                              
                                                          <td class="col-md-1 warning">{{rapport.sminoffRed.bnreBlle}}</td>
                                                          <td class="col-md-1 warning">{{rapport.sminoffBlack.bnreBlle}}</td>
                                                          <td class="col-md-1 danger">{{rapport.sminoffBlue.bnreBlle}}</td>
                                                          <td class="col-md-1 info">{{rapport.heineken.bnreBlle}}</td>
                                                          <td class="col-md-1 info">{{rapport.voodka.bnreBlle}}</td>
                                                          <td class="col-md-1 info">{{rapport.boostrer.bnreBlle}}</td>
                                                          <td class="col-md-1 info">{{rapport.sabc.bnreBlle}}</td>   
                                                          <td class="col-md-1 info">{{rapport.sabc1664.bnreBlle}}</td> 
                                                            <td class="col-md-1">
                                                        {% if sminoff>0 %}
                                                          {{( rapport.sminoffBlue.bnreBlle*100/sminoff) |number_format(0, ',', '.')}}%
                                                         {% else %}
                                                           --
                                                         {% endif %}
                                                         </td>                                                                                                                                                           
                                                           <td class="danger col-md-1">
                                                        {% if univers>0 %}
                                                          {{( rapport.sminoffBlue.bnreBlle*100/univers) |number_format(0, ',', '.')}}%
                                                         {% else %}
                                                           --
                                                         {% endif %}
                                                         </td>                                                         
                                                          <td class="col-md-1">
                                                        {% if univers>0 %}
                                                          {{( sminoff*100/univers) |number_format(0, ',', '.')}}%
                                                         {% else %}
                                                           --
                                                         {% endif %}
                                                         </td>    
                                                        </tr>
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                                <a class="btn btn-xs btn-info"  href="#">
                                                    <i class="fa fa-arrow-right"></i> 
                                                    Exporter vers (.xls)
                                                </a>
                                         </div>
                                <!-- /panel content -->
                         </div>
  {% include 'legende.html.twig' %}                       
                  </div>
 {% endblock %}

        {% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>
        <script type="text/javascript">
         loadScript( plugin_path + "datatables/js/jquery.dataTables.min.js", function() {
             loadScript(plugin_path + "datatables/dataTables.bootstrap.js", function(){
            if (jQuery().dataTable) {
            var table = jQuery('#datatable_sample');
            table.dataTable({
                    "columns": [

                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },{
                                "orderable": true
                            },
                             {
                                "orderable": true
                            }, 
                            {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            }, 
                            {
                                "orderable": true
                            }, 
                            {
                                "orderable": true
                            }, 
                            {
                                "orderable": true
                            }, 
                            {
                                "orderable": true
                            }, 
                            {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            }, 
                            {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            },
                             {
                                "orderable": true
                            }, 
                            {
                                "orderable": true
                            }],
                            "lengthMenu": [
                                [20, 50, 100, -1],
                                [20, 50, 100, "Tous"] // change per page values here
                            ],
                            // set the initial value
                            "pageLength": 20,            
                            "pagingType": "bootstrap_full_number",
                            "language": {
                                "lengthMenu": "  _MENU_ records",
                                "paginate": {
                                    "previous":"Prev",
                                    "next": "Next",
                                    "last": "Last",
                                    "first": "First"
                                }
                            },
                            "columnDefs": [{  // set default column settings
                                'orderable': false,
                                'targets': [0]
                            }, {
                                "searchable": false,
                                "targets": [0]
                            }],
                            "order": [
                                [1, "asc"]
                            ] // set first column as a default sort by asc
                        });      
               }
             });
            });
        </script>

<!-- PAGE LEVEL SCRIPT -->
    <script type="text/javascript">
      _toastr("Share of table","top-right","success",false);

      /** SALES CHART
      ******************************************* **/
      loadScript(plugin_path + "chart.flot/jquery.flot.min.js", function(){
        loadScript(plugin_path + "chart.flot/jquery.flot.resize.min.js", function(){
          loadScript(plugin_path + "chart.flot/jquery.flot.time.min.js", function(){
            loadScript(plugin_path + "chart.flot/jquery.flot.fillbetween.min.js", function(){
              loadScript(plugin_path + "chart.flot/jquery.flot.orderBars.min.js", function(){
                loadScript(plugin_path + "chart.flot/jquery.flot.pie.min.js", function(){
                  loadScript(plugin_path + "chart.flot/jquery.flot.tooltip.min.js", function(){



                  });
                });
              });
            });
          });
        });
      });
      </script>
       {% endblock %}