<div id="panel-2" class="panel panel-default">
                         <div class="panel-heading">
                           <span class="title elipsis">
                        <strong> Taux de présence et de rupture</strong> 
                        </span>
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->
                                </div>
                                <!-- panel content -->
                                <div class="panel-body">  
                                {% set total= marques|somme('bnreblle')%}
                                           <table class="table table-striped table-bordered table-hover" id="datatable_sample">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-md-4">Marque</th>
                                                            <th class="col-md-1">Présence</th>
                                                            <th class="col-md-1">Rupture</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for marque in marques if marque.nom starts  with 'Sminoff'%}
                                                    <tr class="odd gradeX {% if marque.nom ends  with 'Blue' %}danger{% else %}warning {%endif%}">    
                                                     <td class="">
                                                     {{marque.nom}}
                                                     </td>                                   
                                                          <td>
                                                        {% if (marque.nombre)>0 %}
                                                          {{(100- marque.absent/marque.nombre*100 )|number_format(0, ',', '.')}}%
                                                         {% else %}
                                                           --
                                                         {% endif %}
                                                             </td>
                                                             <td >
                                                        {% if (marque.nombre)>0 %}
                                                          {{( marque.enrupture/marque.nombre*100 )|number_format(0, ',', '.')}}%
                                                         {% else %}
                                                           --
                                                         {% endif %}
                                                             </td>                                                                                    
                                                      </tr>
                                                      {%endfor%} 
                                                    {% for marque in marques if not ( marque.nom starts  with 'Sminoff')%}
                                                    <tr class="odd gradeX info ">    
                                                     <td class="">
                                                     {{marque.nom}}
                                                     </td>                                   
                                                          <td>
                                                        {% if (marque.nombre)>0 %}
                                                          {{(100- marque.absent/marque.nombre*100 )|number_format(0, ',', '.')}}%
                                                         {% else %}
                                                           --
                                                         {% endif %}
                                                             </td>
                                                             <td >
                                                        {% if (marque.nombre)>0 %}
                                                          {{( marque.enrupture/marque.nombre*100 )|number_format(0, ',', '.')}}%
                                                         {% else %}
                                                           --
                                                         {% endif %}
                                                        </td>                                                                                     
                                                      </tr>
                                                      {%endfor%}                                                                                                             
                                                    </tbody>
                                                </table>
                                                {% if pointVente is defined %}
                                                 {% set id=pointVente.id %} 
                                                    {% else %}
                                                {% set id='all' %}      
                                                    {% endif %}
                                                 <a class="btn btn-xs btn-success"  href="{{ path('rapport_index',{'section':'presence','id':id}) }}">
                                                    <i class="fa fa-eye"></i> 
                                                    Voir les détails
                                                </a>
                                                <a class="btn btn-xs btn-info"  href="#">
                                                    <i class="fa fa-file-excel-o"></i> 
                                                    Exporter vers (.xls)
                                                </a>
                                </div>
                        <!-- /panel content -->
                    </div>